html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: $color-brand;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  color: #676e72;
  line-height: 24px;
  letter-spacing: 0.08px;
}

a {
  text-decoration: none;
  color: $color-brand;
}

a:hover {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  background-color: transparent;
  border: 0;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button {
  background-color: transparent;
  border: 0;
  color: $color-brand;
  outline: none;
  cursor: pointer;
}

fieldset {
  border: 0;
}

textarea::-webkit-input-placeholder {
  color: rgba(41, 41, 41, 0.5);
}
