
/* Headers */
.primary-header {
  text-shadow: 0 0 40px #000000;
  color: #000000;
  font-family: $secondary-font;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.29px;
}

.primary-header--white {
  color: #ffffff;
}

.secondary-header {
  color: #010d14;
  font-family: $secondary-font;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.18px;
}

.secondary-header--light {
  color: #FFFFFF;
  line-height: 35px;
}

.tertiary-header {
  color: #010d14;
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.11px;
  line-height: 30px;
  letter-spacing: 0.13px;
}

/* Text */
.primary-text {
  font-family: "Open Sans";
  // line-height: 24px;
  letter-spacing: 0.08px;
}