/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $primary-font;
  font-size: 15px;
  line-height: 24px;
}

.primary-header {
  color: $secondary-text-color;
  font-family: $secondary-font;
  font-size: 38px;
  line-height: 42px;
  font-weight: 400;
}

.secondary-header {
  color: $secondary-text-color;
  font-family: $secondary-font;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}

.tertiary-header {
  color: $secondary-text-color;
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
}
